target
**/.DS_Store
**/_build
.vscode

decoder_harness/include/arm64-decode.h
decoder_harness/include/arm64-decode.cpp
decoder_harness/include/arm64-disasm.h
decoder_harness/include/arm64-disasm.cpp

Dockerfile
