[package]
name = "sail"
version = "0.1.1"
edition = "2021"
authors = ["AVISI Research Group"]
description = "Rust interface for the the [Sail compiler and AST](https://www.cl.cam.ac.uk/~pes20/sail/) written in OCaml."
homepage = "https://avisi.org.uk"
repository = "https://github.com/avisi-group/borealis"

[dependencies]
common = { path = "../common" }
ocaml = { git = "https://github.com/zshipko/ocaml-rs.git", rev = "d9adaf5", features = ["no-panic-hook"] }
once_cell = "1.16.0"
parking_lot = "0.12.1"
displaydoc = "0.2.3"
thiserror = "1.0.37"
log = "0.4.17"
serde = { version = "1.0.148", features = ["derive"] }
deepsize = "0.2.0"
num-bigint = { version = "0.4.3", features = ["serde"] }
serde_json = "1.0.89"
lasso = { version = "0.6.0", features = ["multi-threaded"] }
fxhash = "0.2.1"

[build-dependencies]
cc = "1.0.77"
color-eyre = "0.6.2"

[dev-dependencies]
color-eyre = { version = "0.6.2", default-features = false }
simple_logger = "4.0.0"
insta = { version = "1.21.2", features = ["json", "filters"] }
proptest = "1.0.0"
serde_json = "1.0.89"
