[package]
name = "sail"
version = "0.1.0"
edition = "2021"

[dependencies]
displaydoc = "0.2.3"
num-bigint = "0.4.3"
ocaml = "1.0.0-beta.3"
once_cell = "1.15.0"
parking_lot = "0.12.1"
thiserror = "1.0.37"

[build-dependencies]
cc = "1.0.73"
color-eyre = "0.6.2"

[[example]]
name = "cli"

[dev-dependencies]
color-eyre = { version = "0.6.2", default-features = false }
insta = "1.21.0"
proptest = "1.0.0"
