[package]
name = "common"
version = "0.0.0"
edition = "2021"
authors = ["AVISI Research Group"]

[dependencies]
borealis_macro = { path = "../borealis_macro" }

ocaml = { git = "https://github.com/zshipko/ocaml-rs", rev = "e64c890", features = ["no-panic-hook"] }
deepsize = "0.2.0"
fxhash = "0.2.1"
lasso = { version = "0.6.0", features = ["multi-threaded"] }
once_cell = "1.17.0"
serde = { version = "1.0.152", features = ["derive"] }
thiserror = "1.0.38"
