[package]
name = "common"
version = "0.0.0"
edition = "2021"
authors = ["AVISI Research Group"]

[dependencies]
ocaml = { version = "1.0.0-beta.5", features = ["no-panic-hook"] }
deepsize = "0.2.0"
fxhash = "0.2.1"
lasso = { version = "0.7.2", features = ["multi-threaded"] }
once_cell = "1.18.0"
serde = { version = "1.0.171", features = ["derive"] }
twox-hash = "1.6.3"

[dev-dependencies]
pretty_assertions = "1.4.0"
