name: CI

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    name: Test and Build

    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - name: APT update
        run: sudo apt-get update

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: true

          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          swap-storage: false

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: earthly/actions-setup@v1
        with:
          version: "latest"
          use-cache: true

      - name: Login to Packages Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Earthly version
        run: earthly --version

      - name: Expand Earthly cache
        run: earthly config global.cache_size_mb 32768

      - name: Run tests
        run: earthly --strict --use-inline-cache --save-inline-cache --remote-cache=ghcr.io/${{ github.repository }}/cache:cache --push +test

      - name: Build image
        run: earthly --strict --use-inline-cache --save-inline-cache --remote-cache=ghcr.io/${{ github.repository }}/cache:cache --push +docker

      - name: Build docs
        run: earthly --strict --use-inline-cache --save-inline-cache --remote-cache=ghcr.io/${{ github.repository }}/cache:cache --push +docs

  deploy_docs:
    name: Deploy Documentation

    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write
      packages: read

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    needs:
      - build

    if: github.ref == 'refs/heads/main'

    steps:
      - name: Login to Packages Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull docs
        if: github.ref == 'refs/heads/main'
        run: |
          id=$(docker create ghcr.io/${{ github.repository }}/docs:latest)
          docker cp $id:/docs - | tar xf - -C .

      # https://github.com/actions/upload-pages-artifact#file-permissions
      - run: chmod -c -R +rX ./docs

      - name: Upload artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./docs
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
