name: CI
on:
  push:
    branches:
      - "*"

jobs:
  stylecheck:
    name: Stylecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain with rustfmt and run cargo format in check mode
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt
          override: true

      - run: cargo fmt --all -- --check

  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        ocaml-compiler: ["4.14.0"]

    name: Test
    runs-on: ${{ matrix.os }}
    needs: stylecheck
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cargo/bin
            _opam
            ~/.opam
            target
          key: ${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-${{ matrix.ocaml-compiler }}

      - name: Install OCaml toolchain
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: Set Opam env
        run: opam env | tr '\n' ' ' >> $GITHUB_ENV

      - name: Add Opam switch to PATH
        run: opam var bin >> $GITHUB_PATH

      - name: Install Opam dependencies
        # ignore failures if already installed
        run: opam install sail || true

      - run: cargo build --workspace --release

      - run: cargo test --workspace --no-fail-fast --release -- load_files
